﻿
@{
    ViewBag.Title = "AdminOrHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminOrHome</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <div>
                    @Html.ActionLink("Admin", "Index", "Admin")

                    @Html.ActionLink("Home", "Home", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
