﻿@model WebDZ_fixed.Models.ScoreViewModel
@{
    ViewBag.Title = "CreateScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateScore</h2>

<div class="container">
    <section id="loginForm">
        @using (Html.BeginForm("CreateScore", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Currency, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Currency, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Currency, "", new { @class = "text-danger" })
                    </div>
                </div>
             
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

        }
    </section>
</div>

