﻿@model WebDZ_fixed.Models.ClientViewModel
@{
    ViewBag.Title = "CreateClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateClient</h2>

<div class="col-md-8">
    <section id="loginForm">
        @using (Html.BeginForm("CreateClient", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ScoreId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ScoreId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ScoreId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Client" class="btn btn-default" />
                    </div>
                </div>
            if (ViewBag.Score != null)
            {
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Currency</th>
                    </tr>
                    @foreach (var score in ViewBag.Score)
                    {
                        <tr>
                            <td>@score.Id</td>
                            <td>@score.Currency</td>
                        </tr>
                       
                    }
                </table>
            }

        }
    </section>
</div>