﻿


@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>


<div class="container">
    <div class="row">
        <div class="col-md-2">
            @using (Html.BeginForm("CreateClient", "Admin", FormMethod.Get, new {@class = "form-horizontal navbar-left", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Create Client" class="btn btn-primary"/>
                    </div>
                </div>
            }
            @using (Html.BeginForm("CreateScore", "Admin", FormMethod.Get, new {@class = "form-horizontal navbar-left", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Create Score" class="btn btn-primary"/>
                    </div>
                </div>
            }


        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>ScoreId</th>
                    <th>Currensy</th>
                </tr>
                @if (ViewBag.Clients != null)
                {
                    foreach (var score in ViewBag.Clients)
                    {
                        <tr>
                            <span id="Id" hidden="true">@score.Id</span>
                            <td id="name">@score.Name</td>
                            <td id="surname">@score.Surname</td>
                            @if (score.Score != null)
                            {
                                <td id="ScoreID">@score.Score.Id</td>
                                <td id="currency">@score.Score.Currency </td>
                                <td>
                                    <input type="button" class="btn btn-danger" value="Close"/>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-success" value="REFILL"/>
                                </td>

                            }
                            else
                            {
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="button" class="btn btn-danger" value="Close"/>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-success" value="REFILL"/>
                                </td>
                            }

                        </tr>
                    }
                }
            </table>

            @* write  *@

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            @* end *@
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-5">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Currency</th>
                </tr>
                @if (ViewBag.Scores != null)
                {
                    foreach (var score in ViewBag.Scores)
                    {
                        <tr>
                            <td>@score.Id</td>
                            <td>@score.Currency</td>
                        </tr>


                    }
                }
            </table>

            @* write  *@


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            @* end *@
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="sum"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal_Refill">Refill</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('.updateBtn').click(function () {
            event.preventDefault();
            var model = {
                Id: $('#Id').text,
                name: $('#name').text(),
                scoreId: $('#ScoreID').text(),
                surname: $('#surname').text(),
                currency: $('#currency').text()
            };
            console.log(name);

            $.ajax({
                url: '/Admin/UpdateClient',
                type: 'POST',
                data: JSON.stringify(model),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })

        $('#myModal').on('shown.bs.modal', function() {
            $('#myInput').focus();
        });
        console.log(123);

        $('#modal_Refill').click(function() {
            var sum = $('#sum').val();
            console.log(sum);

            $.ajax({
                url: '/Admin/AddSum',
                type: 'POST',
                data: JSON.stringify({id: 1, sum: 200}),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        });
    })


</script>