﻿@model WebDZ_fixed.Models.ClientViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<script type="text/javascript">
    $(function() {
        $("[data-autocomplete-source]").each(function() {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });

        $("#name").on("change", function() {

        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <input type="text" id="name" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' class="form-control"/>
        </div>
    </div>
</div>

